#diaryform p label{
	margin-top:3px;
	text-align:left;
}
#diaryform p{
	text-align:right;
}
#diaryform p #title{
	width:90%;
}
#diaryTable th{
	font-family:"Microsoft YAHEI";
	font-style:normal;
	text-align:center;
	font-size:12pt;
}
#diaryTable td{
	padding-left:5px;
}
#diaryTable td a{
	text-decoration: none;
	padding: 2px 12px;
}
#diaryTable td a:hover {
	color: #648C1D;
}

h3 span{
	float:right;
}

input{
	min-width:80px;
}
#content{
	padding:0 10px;
}
#searchForm{
}
#searchForm ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#searchForm ul li{
	padding: 0px;
	width:240px;
	float:left;
}
#diaryList{
	padding-top:10px;
}